body, span {
	font-family: 'Montserrat',sans-serif;
	position: relative;
	background-color: var(--background-color)!important;
    color: var(--box-color);
}

.search {
	position: relative;
	color: rgb(179, 179, 179);
}

.search input {
	height: 40px;
	text-indent: 25px;
}

.search input:focus {
	box-shadow: none;
	border: 1px solid rgb(70, 69, 69);
}

.search .iconsass {
	position: absolute;
    top: 13px;
    left: 12px;
    transform: scale(1);
}

.form-control::placeholder {
	color: rgb(179, 179, 179);
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
	opacity: 1;
    position: relative;
    top:-0.5px;
}

.more {
	color: purple;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-left: 35px;
	margin-top: 5px;
	cursor: pointer;
}

.example-section {
	align-content: center;
	align-items: center;
	font-size: 12px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif!important;
	font-weight: 500;
}

.example-margin {
	margin: 0 10px;
	color:beige!important;
}

.bottom {
	margin: 0;
	color: rgb(126, 126, 126);
}

.subhead {
	font-family: "Montserrat", sans-serif;
	font-size: 10px;
	color: rgb(146, 146, 146);
	font-weight: 400;
	margin-bottom: 8px;
}

.small-heading {
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
	margin-bottom: 0px;
	color:var(--title-color);
}


mat-panel-title{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--filter-textcolor);
}

.cards {
	padding: 14px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	background-color: var(--card-bg);
	margin-bottom: 15px;
	border-radius: 10px;
}

@media screen and (min-width: 280px) and (max-width: 999px) {

    .cards{
        display: none!important; 
    }
  }

