<app-preloader *ngIf="loader"></app-preloader>
<div class="container">
    <div class="progress-bar spacing">
        <div class="progress-step is-active">
          <div class="step-count"><mat-icon class="nav-icon">shopping_cart</mat-icon></div>
          <div class="step-description">Add Cart</div>
        </div>
        <div class="progress-step">
          <div class="step-count"><mat-icon class="nav-icon"> place</mat-icon></div>
          <div class="step-description">Address</div>
        </div>
        <div class="progress-step">
          <div class="step-count"><mat-icon class="nav-icon">payment</mat-icon></div>
          <div class="step-description">Pay & Checkout</div>
        </div>
    </div>

    <div class="container">
        <div class="text-justify mb-2">
            <h2>Shipping Address<span class="more" routerLink="/address-seeall">See all &nbsp;<i class="fa-solid fa-chevron-right"></i></span></h2>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-1" name="radio" type="radio" checked>
                                <label for="radio-1" class="radio-label">Naresh , 9876543210 
                                    <a class="default">Default</a>
                                    <a class="type">Home</a>
                                    <p>40/53, Amijikarai Avenue, chennai, Tamilnadu, 600004</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio" >
                                <label for="radio-2" class="radio-label">Siva kumar, 9123456789 
                                    <a class="type">Home</a>
                                    <p>10/23, Mylapore Avenue, chennai, Tamilnadu, 600003</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-3" name="radio" type="radio" >
                                <label for="radio-3" class="radio-label">Arun kumar, 9842812345 
                                    <a class="type">Work</a>
                                    <p>16/23, Taramani Avenue, chennai, Tamilnadu, 600004</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-4" name="radio" type="radio" >
                                <label for="radio-4" class="radio-label">Pavan kumar, 9002500025 
                                    <a class="type">Work</a>
                                    <p>11/93, Tambaram Avenue, chennai, Tamilnadu, 600003</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-5" name="radio" type="radio" >
                                <label for="radio-5" class="radio-label">Raj kumar, 8428123450 
                                    <a class="type">Home</a>
                                    <p>16/23, Anna nagar Avenue, chennai, Tamilnadu, 600004</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-2">
                    <div class="d-flex deflex">
                        <div class="radio">
                            <input id="radio-6" name="radio" type="radio" >
                                <label for="radio-6" class="radio-label">Vijay kumar, 7896541230 
                                    <a class="type">Work</a>
                                    <p>19/13, Avadi Avenue, chennai, Tamilnadu, 600004</p>
                                    <a class="filter"><span class="edit">Edit</span> <span class="delete">Delete</span></a>
                                </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button type="button" class="btn-address" routerLink="/addaddress" ><i class="fa-solid fa-plus"></i>&nbsp; Add Address</button>
                <button type="button" class="btn-grap" routerLink="/preview">Deliver Here</button>
            </div>
        </div>
    </div>

</div>