<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="footer-heads">
                    <h6 class="footer-heading text-uppercase text-white">Shop by</h6>
                    <ul class="list-unstyled footer-link mt-2">
                        <li><a href="">Fashion</a></li>
                        <li><a href="">Smartphones & Tablets</a></li>
                        <li><a href="">Health & Beauty</a></li>
                        <li><a href="">Electronics</a></li>
                        <li><a href="">Home & Living</a></li>
                        <li><a href="">Grocery</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer-heads">
                    <h6 class="footer-heading text-uppercase text-white">Useful links</h6>
                    <ul class="list-unstyled footer-link mt-2">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer-heads">
                    <h6 class="footer-heading text-uppercase text-white">Help</h6>
                    <ul class="list-unstyled footer-link mt-2">
                        <li><a href="">Shipping </a></li>
                        <li><a href="">Payments</a></li>
                        <li><a href="">Cancellation & Returns</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">T&C</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer-heads">
                    <h6 class="footer-heading text-uppercase text-white">Customer Policy</h6>
                    <ul class="list-unstyled footer-link mt-2">
                        <li><a href="">Returns & Policy </a></li>
                        <li><a href="">Track Orders</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Site Map</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="footer-heads">
                    <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                    <p class="contact-info mt-4">Contact us if need help withanything</p>
                    <p class="contact-info">+91 123-456-7890</p>
                    <div class="mt-5">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
<div class="copyright-area">    
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                <div class="copyright-text">
                    <p>Copyright &copy; 2022, All Right Reserved <a href="https://www.muthutech.com/"> Muthu Technology</a></p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- partial -->


