:host {
    position: fixed;
    float: right;
    cursor: pointer;
    right: 14px;
    bottom: 14px;
    z-index: 100;
    opacity: 1;
  }


.btn-dark{
    background-color: #000000;
    border-color: #1a1a1a;
    color:#fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.scroll-icon{
    cursor: pointer;
}


.btn-dark:focus{
    background-color: #000000;
    border-color: #1a1a1a;  
}

